fastapi
uvicorn
pydantic
aiofiles
pdf2image
Pillow
langchain
langchain-community
langchain-huggingface
langchain-ollama
langchain-chroma
sentence-transformers
chromadb
beautifulsoup4
streamlit
python-dotenv
requests
sqlalchemy
PyJWT
